{% extends "base.html" %}
{% load static %}

{% block style %}
  <title>About</title>
{% endblock %}

{% block content %}
<div class="about-section">
  <h2 class="about-title">수어를 이용하여 chatgpt 사용하기</h2><br><br>
  <img src="{% static 'images/roadmap.png' %}" alt="images"style="width: 600px; height: auto;"><br>
  {% comment %} https://mblogthumb-phinf.pstatic.net/MjAyMDA0MDZfMjg2/MDAxNTg2MTM0MDU4ODc2.krZPahJ7EmE70EXis692VcJ014_kAsoOHEDb69bDezgg.DhRj3r8ZpNmoSzGUkQTseGRuMgcPpby9gx8Coru4sP0g.JPEG.dodreamgj/2.jpg?type=w800 {% endcomment %}
  <h2 class="about-content">7th Mini-Project</h2>
  <p class="about-content">수어를 이용하여 chatgpt를 사용하는 웹서비스 입니다.<br>
  수어 이미지를 올릴 경우 영어로 변환한뒤 chatgpt가 응답합니다. </p><br>
</div>

<div class="team-section">
  <div class="team-member">
    <img src="https://avatars.githubusercontent.com/u/113021161?v=4" alt="Member 1">
    <h3 class="team-member-name">강창진</h3>
    <p class="team-member-role">kt aivle school 3th</p>
    <a class='link' href="https://github.com/cjkangme" >github 바로가기</a>
  </div>
  <div class="team-member">
    <img src="https://user-images.githubusercontent.com/80569773/236611467-a1b919b5-9aa7-46fb-b49a-49f1c37e7d04.png" alt="Member 2">
    <h3 class="team-member-name">김단은</h3>
    <p class="team-member-role">kt aivle school 3th</p>
    <a class='link' href="https://github.com/dannxdr">github 바로가기</a>
    
  </div>
  <div class="team-member">
    <img src="https://avatars.githubusercontent.com/u/71204014?v=4" alt="Member 3">
    <h3 class="team-member-name">김승은</h3>
    <p class="team-member-role">kt aivle school 3th</p>
    <a class='link' href="https://github.com/seung0313">github 바로가기</a>
  </div>
  <div class="team-member">
    <img src="https://avatars.githubusercontent.com/u/70326417?v=4" alt="Member 4">
    <h3 class="team-member-name">김주환</h3>
    <p class="team-member-role">kt aivle school 3th</p>
    <a class='link' href="https://github.com/joowhan">github 바로가기</a>
  </div>
  <div class="team-member">
    <img src="https://avatars.githubusercontent.com/u/71204014?v=4" alt="Member 5">
    <h3 class="team-member-name">민상은</h3>
    <p class="team-member-role">kt aivle school 3th</p>
    <a class='link' href="https://github.com/sangeun815">github 바로가기</a>
  </div>
  <div class="team-member">
      <img src="https://avatars.githubusercontent.com/u/75006671?v=4" alt="Member 6">
      <h3 class="team-member-name">윤정섭</h3>
      <p class="team-member-role">kt aivle school 3th</p>
      <a class='link' href="https://github.com/SEOP-YOON">github 바로가기</a>
    </div>
    <div class="team-member">
      <img src="https://avatars.githubusercontent.com/u/82437385?v=4" alt="Member 7">
      <h3 class="team-member-name">이재영</h3>
      <p class="team-member-role">kt aivle school 3th</p>
      <a class='link' href="https://github.com/sooonzero">github 바로가기</a>
    </div>
{% endblock %}

      